.footer {
  position: relative;
  padding: 60px 0 0 0;
  background: #111111;

  .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 60px;

    .title {
      color: #ffffff;
      font-size: 25px;
      letter-spacing: 1px;
      padding-bottom: 10px;
      margin-bottom: 25px;
      border-bottom: 3px double #ffffff;
    }

    p {
      color: #ffffff;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 12px; 

        &:last-child {
          margin-bottom: 0; 
        }

        a {
          color: #ffffff;
          white-space: nowrap;
          display: block;
          line-height: 23px;
          
          &:hover {
            padding-left: 10px;
            color: #FF6F61;
          }
        }
      }
    }
  }

  .contact-info p {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;

    i {
      color: #ffffff;
      margin-right: 5px;
    }
  }

  .social {
    position: relative;
    width: 100%;

    a {
      display: inline-block;
      margin: 10px 5px 0 0;
      width: 35px;
      height: 35px;
      padding: 5px 0;
      text-align: center;
      font-size: 18px;
      background: #ffffff;
      border-radius: 4px;
      color: #111111;

      &:hover {
        background: #FF6F61;
        color: #ffffff;
      }
    }
  }

  .newsletter {
    position: relative;
    width: 100%;

    form {
      position: relative;
      width: 100%;
    }

    input {
      width: 100%;
      height: 35px;
      padding: 0 15px;
      border: 1px solid #ffffff;
      border-radius: 4px;

      &:focus{
        box-shadow: none;
      }
    }

    .btn {
      position: absolute;
      width: 80px;
      height: 35px;
      top: 0;
      right: 0;
      padding: 0 15px;
      border: none;
      background: #111111;
      color: #ffffff;
      font-size: 14px;
      border: 1px solid #ffffff;
      border-radius: 0 4px 4px 0;

      &:hover {
        background: #FF6F61;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}