.nav-bar {
  position: relative;

  &.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
  }

  .navbar {
    height: 100%;
    padding: 0;
  }

  .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
  }

  .fix-container-fluid .container-fluid{
    padding: 0;
  }
}

.navbar-dark .navbar-nav .nav-link {
  padding: 10px 10px 8px 10px;
  color: #ffffff;

  &:focus {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
  }

  &:hover {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
  }

  &.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
  }
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 2px solid #000000;
  transition: none;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav-bar {
    background: #FF6F61 !important;

    .navbar {
      background: #FF6F61 !important;
    }

    .navbar-brand {
      display: none;
    }

    a.nav-link {
      padding: 8px 15px;
      font-size: 15px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 768px) {

  .nav-bar{
    padding: 3px 0;
    background: #FF6F61 !important;

    .navbar{
      padding: 3px 0;
      background: #FF6F61 !important;
    }
    .navbar-toggler{
      margin-left: auto;
    }

    .fix-left .nav-item a{
        text-align: center;
    }

    a.nav-link {
      padding: 5px;
    }

    .dropdown-menu {
      box-shadow: none;
    }
    .social {
      display: none;
    }
  }
}

.nav-bar .social {
  font-size: 0;
  overflow: hidden;

  a {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    padding: 3px 0;
    text-align: center;
    font-size: 14px;
    background: #FF6F61;
    border: 1px solid #ffffff;
    border-radius: 4px;

    &:hover {
      background: #ffffff;
      border: 1px solid #ffffff;

      i {
        color: #FF6F61;
      }
    }

    i {
      color: #ffffff;
    }
  }
}