.footer-menu {
  position: relative;
  background: #111111;

  .container {
    padding: 15px 0;
    border-top: 1px solid #000000;
  }

  .f-menu {
    font-size: 0;
    text-align: center;

    a {
      color: #ffffff;
      font-size: 14px;
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid #ffffff;

      &:hover {
        color: #FF6F61;
      }

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }
    }
  }
}