#navbar {
  display: flex;
  width: 100%;

  .navbar-bottom{
    width: 100%;
  }
}
.nav-header {
  display: flex;
  width: 100%;
  align-items: center;

  #iconNavbarSidenav{
    flex: auto;
  }
}
@media (min-width: 1200px)
{
  #navbar {
    width: auto;
  }

}