.sidebar {
  position: relative;
  width: 100%;
}

.sidebar .sidebar-widget {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.sidebar .sidebar-widget h2.sw-title {
  color: #000000;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 3px double #000000;
}

.sidebar .sidebar-widget .news-list {
  position: relative;
  margin-bottom: 30px;
}

.sidebar .news-list .nl-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar .news-list .nl-item .nl-img {
  width: 100px;
}

.sidebar .news-list .nl-item .nl-img img {
  width: 100px;
}

.sidebar .news-list .nl-item .nl-title {
  padding-left: 15px;
}

.sidebar .news-list .nl-item .nl-title a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  transition: all .3s;
}

.sidebar .news-list .nl-item .nl-title a:hover {
  color: #FF6F61;
}

.sidebar .sidebar-widget .tab-news {
  position: relative;
  margin-bottom: 30px;
}

.sidebar .tab-news .nav.nav-pills .nav-link {
  color: #ffffff;
  background: #000000;
  border-radius: 0;
}

.sidebar .tab-news .nav.nav-pills .nav-link:hover,
.sidebar .tab-news .nav.nav-pills .nav-link.active {
  color: #ffffff;
  background: #FF6F61;
}

.sidebar .tab-news .tab-content {
  padding: 15px 0 0 0;
  background: transparent;
}

.sidebar .tab-news .tab-content .container {
  padding: 0;
}

.sidebar .tab-news .tn-news {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar .tab-news .tn-img {
  width: 100px;
}

.sidebar .tab-news .tn-img img {
  width: 100px;
}

.sidebar .tab-news .tn-title {
  padding: 0 0 0 15px;
}

.sidebar .tab-news .tn-title a {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  transition: all .3s;
}

.sidebar .tab-news .tn-title a:hover {
  color: #FF6F61;
}

.sidebar .sidebar-widget .category {
  position: relative;
}

.sidebar .category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar .category ul li {
  margin: 0 0 12px 0; 
}

.sidebar .category ul li:last-child {
  margin-bottom: 0; 
}

.sidebar .category ul li a {
  display: inline-block;
  color: #000000;
  line-height: 23px;
}

.sidebar .category ul li a:hover {
  color: #FF6F61;
}

.sidebar .category ul li span {
  display: inline-block;
  float: right;
}

.sidebar .sidebar-widget .tags {
  position: relative;
}

.sidebar .sidebar-widget .tags a {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #000000;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}

.sidebar .sidebar-widget .tags a:hover {
  color: #ffffff;
  background: #FF6F61;
  border: 1px solid #FF6F61;
}

.sidebar .sidebar-widget .image a {
  display: block;
  width: 100%;
  overflow: hidden;
}

.sidebar .sidebar-widget .image img {
  max-width: 100%;
  transition: .3s;
}

.sidebar .sidebar-widget .image img:hover {
  transform: scale(1.1);
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
