@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #ffffff;
}

a {
  color: #FF6F61;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #000000;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px 0;
  padding: 0;
  color: #000000;
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 400;
}

.cursor {
  cursor: pointer;
}